# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor


# ignore
.idea
**/.DS_Store
**/logs

# ------
vagrant/.vagrant/*
docker/monitor/*/plugins
docker/monitor/*/sessions
docker/monitor/*/grafana.db
build/*


## ---
config/api/config.yml
